.Search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 20px 0;

  .input-holder {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    width: 97%;
    margin-right: 3%;
    border: none;
    border-radius:5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
}
